<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healventureapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealventureApp">

        <activity android:name=".controller.MainPageActivity"></activity>
        <activity android:name=".controller.BookAppointment"></activity>
        <activity android:name=".controller.Feedback"></activity>
        <activity android:name=".controller.AboutUs"></activity>
        <activity android:name=".controller.ForgotPassword"></activity>
        <activity android:name=".controller.Signup"></activity>
        <activity android:name=".controller.MyReport"></activity>
        <activity android:name=".controller.UploadReport"></activity>
        <activity android:name=".controller.Payment"></activity>
        <activity android:name=".controller.Services"></activity>

        <activity
            android:name=".controller.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>